<ng-container *ngIf="!isEmailSent; else emailSent">
  <form
    [formGroup]="contactForm"
    (ngSubmit)="submitForm()"
    class="contact-form"
  >
    <label for="name"></label>
    <input
      type="text"
      formControlName="name"
      id="name"
      placeholder="Your Name"
      class="name-input"
      required
    />
    <!-- <div class="row form-email-mobile-section"> -->
    <!-- <div class="col form-email-mobile-section"> -->
    <label for="email"></label>
    <input
      type="email"
      formControlName="email"
      id="email"
      placeholder="Your Email "
      class="email-input"
    />

    <!-- </div> -->
    <!-- <div class="col form-email-mobile-section"> -->
    <!-- <label for="mobile"></label>
    <input
      type="mobile"
      name="mobile"
      id="mobile"
      placeholder="Your Mobile  "
      class="mobile-input"
      required
    /> -->
    <!-- </div>
    </div> -->
    <label for="message"></label>
    <textarea
      type="text"
      formControlName="message"
      id="message"
      placeholder="Your Message"
      class="message-input"
      required
    ></textarea>

    <span
      class="error-message"
      *ngIf="!isFormValid && contactForm.controls['email'].errors?.['email']"
    >
      *Please enter a valid email address
    </span>
    <span
      class="error-message"
      *ngIf="!isFormValid && contactForm.controls['email'].errors?.['required']"
    >
      *Please fill in all the fields
    </span>
    <span
      class="error-message"
      *ngIf="!isFormValid && contactForm.controls['name'].errors?.['required']"
    >
      *Please fill in all the fields
    </span>
    <span
      class="error-message"
      *ngIf="!isFormValid && contactForm.controls['message'].errors?.['required']"
    >
      *Please fill in all the fields
    </span>
    <button type="submit" value="SEND" class="send-btn">SEND</button>
  </form>
</ng-container>
<ng-template #emailSent>
  <div class="form-sent-message">
    Thank you for your message, <br />I'll get back to you soon :)
  </div>
</ng-template>
