<div class="bg"></div>
<nav class="navbar navbar-expand-lg bg-transparent container-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        src="./assets/OK_Logo_white-01.png"
        width="75px"
        alt="Olga Kassian Logo Home"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="collapse navbar-collapse justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a class="nav-link px-sm-5" href="#">ENTREPRENEUR</a>
        <a class="nav-link px-sm-5" href="#">FRONT-END DEVELOPER</a>
        <a class="nav-link px-sm-5" href="#">SAY HELLO</a>
      </div>
    </div>
  </div>
</nav>

<header class="container-lg box">
  <div class="row">
    <div class="col-12 col-md-6 box">
      <h1>
        OLGA <br />
        KASSIAN
      </h1>
      <div class="scrolling-animation-container">
        <h2>
          <ul class="content-animation-list">
            <li class="content-animation-list-item">ENTREPRENEUR</li>
            <li class="content-animation-list-item">FRONT-END DEVELOPER</li>
          </ul>
        </h2>
      </div>

      <h3>
        I LOVE THINKING BUSINESS AND DEVELOPING EXCITING PROJECTS FROM SCRATCH.
      </h3>
    </div>
    <div class="col-12 col-md-6">
      <figure>
        <img
          src="../assets/OlgaKassian_Bitmoji_Hi.png"
          alt="Olga Kassian, Entrepreneur and Front-End Developer"
          width="90%"
        />

        <!-- <figcaption>BASED IN LISBON</figcaption> -->
      </figure>
    </div>
  </div>
</header>

<main class="container">
  <section class="my-story-wrapper">
    <div class="row">
      <div class="col-12 col-md-4">
        <h4>MY STORY</h4>
      </div>
      <div class="col-12 col-md-8">
        <p class="my-story-text">
          Born in <span class="my-story-gif">Ukraine </span>and raised in
          Portugal, I'm an entrepreneur and an advocate for responsible
          businesses. At 19 y.o.
          <span class="my-story-gif">I moved to NYC</span> to work in the
          fashion business, finished an
          <span class="my-story-gif">Engineering Degree </span>in Portugal and
          founded <span class="my-story-gif">my first company</span>, Wonther.
          <br />
          <br />
          I'm passionate about business, front-end development, and marketing.
          My friends say I can’t stay in the same city for more than 2 years and
          so far they've been proven right.
        </p>
      </div>
    </div>
  </section>

  <section class="interests-wrapper">
    <h4>INTERESTS</h4>
    <div class="row interests-content">
      <div class="col interest-individual-section">
        <div class="row interests-upper-definition">
          Sustainability and ethics are<br />
          the only constants.
        </div>
        <div class="row interestes-main-topic">ENTREPRENEURSHIP</div>
        <div class="row interests-description">
          I love thinking business and developing new ideas from scratch.
        </div>
      </div>
      <div class="col interest-individual-section">
        <div class="row interests-upper-definition">
          The way of bringing ideas to life <br />in the browser.
        </div>
        <div class="row interestes-main-topic">FRONT-END DEVELOPMENT</div>
        <div class="row interests-description">
          A passion discovered by mistake that's now a constant in my life.
        </div>
      </div>
      <div class="col interest-individual-section">
        <div class="row interests-upper-definition">
          The science and art of creating<br />
          emotional connections.
        </div>
        <div class="row interestes-main-topic">MARKETING</div>
        <div class="row interests-description">
          Even the best idea can't survive without marketing.
        </div>
      </div>
    </div>
  </section>

  <section class="my-projects-wrapper">MY PROJECTS</section>

  <blockquote>
    "TIME GOES BY NO MATTER WHAT. <br />MAKE THE MOST OUT OF IT."
  </blockquote>

  <section class="dev-skills-wrapper">FRONT END DEV SKILLS</section>

  <address>
    <div class="row">
      <div class="col">
        <form action="" method="get" class="contact-form">
          <div class="form-intro-text">
            Interested in discussing an idea, working together or chatting to
            see if we're a match? <br />
            SAY HELLO!
          </div>
          <label for="name"></label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Your Name"
            required
          /><br />
          <label for="email"></label>
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Your Email"
            required
          /><br />
          <label for="message"></label>
          <input
            type="text"
            name="message"
            id="message"
            placeholder="Your Message"
            required
          />
          <br />
          <input type="submit" value="Subscribe!" />
        </form>
      </div>
      <div class="col">
        <img
          src="../assets/OlgaKassian_Bitmoji_Coffee.png"
          alt="OlgaKassian Bitmoji Drinking Coffee"
          class="bitmoji-coffee"
        />
      </div>
    </div>
  </address>
</main>

<footer class="container">
  <div class="row footer-sections">
    <div class="col-3 footer-column">
      <div class="row footer-section-title">CONTACTS</div>
      <div class="row footer-content">+351 93 215 5400</div>
      <div class="row footer-content">olgakassian@gmail.com</div>
    </div>
    <div class="col-3 footer-column">
      <div class="row footer-section-title">PROJECTS</div>
      <div class="row footer-content">Wonther</div>
      <div class="row footer-content">NFT Collection</div>
      <div class="row footer-content">Mycellium</div>
    </div>

    <div class="space"></div>

    <span class="open-souce-code">Open Source Code by Olga Kassian. 2022</span>
  </div>
</footer>
