@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Kdam+Thmor+Pro&display=swap");

@media (max-width: 768px) {
  .container-fluid {
    flex-direction: row-reverse;
  }

  .header {
    h1 {
      font-size: 40px;
      padding-top: 25px;
    }

    h2 {
      font-size: 25px;
    }

    .scrolling-animation-container {
      overflow: hidden;
      height: 35px;
      margin-top: 5px;
    }

    h3 {
      font-size: 20px;
      margin-top: 15px;
    }
  }

  footer {
    div.form-intro-text {
      font-size: 12px !important;
    }
    div.say-hello {
      font-size: 18px;
    }
    .row.footer-final-section {
      display: flex;
      flex-direction: column-reverse;
    }

    .col-12.footer-logo {
      justify-content: left;
    }
  }
}

@media (max-width: 1033px) {
  section.my-story-wrapper {
    text-align: left;
    margin-top: 0;
    p.my-story-text {
      font-size: 1.2rem;
      padding-top: 20px;
      text-align: justify;
    }
  }

  .interests-wrapper {
    margin-top: 0px;

    .row.interests-content {
      margin: 10px 0px 40px 0px;
    }

    .col-12.interest-individual-section {
      padding: 30px 20px 0px 20px;
    }

    .row.interests-upper-definition {
      display: none;
    }

    .row.interestes-main-topic {
      font-size: 20px;
    }

    .row.interests-description {
      font-size: 16px;
    }
  }

  .quote {
    font-size: 20px !important;
    letter-spacing: 0 !important;
    padding-left: 10px;
    -webkit-text-stroke: 2.5px !important;
  }
}

body {
  background-color: #252422;
  color: #f4f4f4;
  font-family: "Inter", sans-serif;
  margin: 0;
  overflow: auto;
  padding: 0;
}

nav.navbar {
  position: relative;
  padding: 0;
  height: 10vh;
}

header {
  min-height: 90vh;

  h1 {
    font-size: 80px;
    font-weight: bold;
  }

  h2 {
    font-weight: bold;
    font-size: 40px;
  }

  h3 {
    margin-top: 40px;
    max-width: 500px;
  }

  .portrait {
    display: flex;
    justify-content: right;
    padding-right: 48px;
  }

  figure {
    display: flex;
    margin-right: 0;
    width: 100%;
    flex-direction: column;
    justify-content: end;
  }
  img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    width: 100%;
    display: flex;
    justify-content: end;
  }
  img:hover {
    filter: none;
  }

  figcaption {
    display: flex;
    font-size: 10px;
    justify-content: right;
    padding-top: 10px;
  }
}

h4 {
  font-weight: 200;
  font-size: 14px;
}

blockquote {
  display: flex;
  align-items: center;
  justify-content: center;
  #background-video {
    position: relative;
    width: 100%;
    // left: 50%;
    // width: 100vw;
    // margin-top: 20px;
    // margin-left: -50vw;
    z-index: -1;
  }

  .quote {
    position: absolute;
    color: #f4f4f4;
    font-size: 45px;
    font-style: italic;
    letter-spacing: 2px;
    -webkit-text-stroke: 4px;
  }
}

address {
  border-top: solid white 0.3px;
  padding: 30px 0px 30px 0px;
  form {
    padding: 0px 0px 50px 0px;
  }

  .form-intro-text {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }

  .name-input,
  .email-input,
  .message-input {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    padding: 5px 150px 5px 10px;
    border-radius: 50px;
  }

  .message-input {
    padding: 5px 150px 50px 10px;
  }

  .send-btn {
    align-items: flex-end;
    border-radius: 50px;
    font-size: 12px;
    font-weight: bolder;
    margin-top: 10px;
    padding: 5px 20px 5px 20px;
  }

  .send-btn:hover {
    color: #16a085;
  }
}

footer {
  border-top: solid white 0.3px;
  margin-bottom: 20px;

  .footer-sections {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 40px;
  }

  .footer-section-title {
    -webkit-text-stroke: 0.5px;
    padding-bottom: 5px;
    padding-top: 20px;
  }

  .footer-content {
    font-size: 13px;

    a {
      text-decoration: none;
      color: #f4f4f4;
      padding-left: 0;
    }
  }

  .space {
    height: 200px;
  }

  .open-souce-code {
    font-size: 9px;
    padding: 0;
  }

  .footer-logo {
    display: flex;
    justify-content: right;
  }

  svg {
    fill: white;
    padding: 0px 8px 0px 8px;
    width: 40px;
  }
}

.nav-link {
  color: white;
  font-size: 13px;
  // font-weight: 300;
}

.nav-link:hover {
  text-decoration: underline;
  text-decoration-color: #f4f4f4;
  text-decoration-thickness: 0.8px;
}

.nav-link:hover {
  color: white;
}

.navbar-toggler-icon {
  background-image: url(../assets/Nav_Collapsed_Icon-01.png);
  width: 50px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.my-story-wrapper,
.interests-wrapper {
  margin-top: 70px;
  margin-bottom: 70px;
}

.my-story-wrapper {
  .my-story-text {
    font-size: 2.2rem;
    font-weight: 200;
    text-align: left;
  }

  .my-story-gif {
    font-weight: 500;
  }
}
.interests-wrapper {
  margin-top: 90px;
  margin-bottom: 90px;

  .interests-content {
    display: flex;
    margin: 40px 0px 40px 90px;
  }

  .interest-individual-section {
    padding: 0px 60px 0px 60px;
  }

  .interests-upper-definition {
    font-weight: 100;
    font-style: italic;
    font-size: 12px;
    line-height: 15px;
  }

  .interestes-main-topic {
    font-weight: bolder;
    font-size: 25px;
    padding: 20px 10px 0px 0px;
  }

  .interests-description {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
    text-align: left;
  }
}

.my-projects-wrapper {
  margin-bottom: 100px;
  position: relative;
  .wonther-about {
    padding-top: 30px;
    .wonther-title {
      font-size: 20px;
      padding: 0px 0px 5px 0px;
      -webkit-text-stroke: 1px;
    }
    .wonther-description {
      font-size: 12px;
      font-weight: 100;
      text-align: justify;
    }
    #wonther-video {
      max-width: 100%;
    }
  }
}

.dev-skills-wrapper {
  margin-top: 100px;
  margin-bottom: 50px;
  position: relative;

  .dev-skills-intro {
    margin-top: 25px;
    font-size: 30px;
    font-weight: 500;
    line-height: 30px;
  }

  ul.list-services {
    font-size: 15px;
    font-weight: 100;
    padding: 0;
    margin: 25px 0px 0px 0px;
    line-height: 20px;

    li {
      text-decoration: none;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  }
  .dev-skills-list,
  .dev-tools-list {
    margin-top: 25px;
  }
}

/*Scrolling Animation CSS Start */

.scrolling-animation-container {
  overflow: hidden;
  height: 40px;
  margin-top: 15px;
}

.scrolling-animation-container::before {
  left: 0;
}

.scrolling-animation-container:after {
  position: absolute;
  right: 0;
}

.scrolling-animation-container:after,
.scrolling-animation-container:before {
  position: absolute;
  top: 0;
  color: #16a085;
  line-height: 40px;
  animation-name: opacity;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.content-animation-list {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  padding-left: 0px;
  padding-bottom: 10px;
  animation-name: change;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
.content-animation-list-item {
  line-height: 50px;
  margin: 0;
}

@keyframes opacity {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%,
  12.66%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  49.98%,
  62.64% {
    transform: translate3d(0, -50%, 0);
  }

  83.3%,
  95.96% {
    transform: translate3d(0, 0, 0);
  }
}

// /*Scrolling Animation CSS End */

.bg {
  position: fixed;
  top: -50%;
  left: -50%;
  right: -50%;
  bottom: -50%;
  width: 200%;
  height: 200vh;
  background: transparent
    url("http://assets.iceable.com/img/noise-transparent.png") repeat 0 0;
  background-repeat: repeat;
  animation: bg-animation 0.2s infinite;
  opacity: 0.9;
  visibility: visible;
  z-index: -1;
}

@keyframes bg-animation {
  0% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -5%);
  }
  20% {
    transform: translate(-10%, 5%);
  }
  30% {
    transform: translate(5%, -10%);
  }
  40% {
    transform: translate(-5%, 15%);
  }
  50% {
    transform: translate(-10%, 5%);
  }
  60% {
    transform: translate(15%, 0);
  }
  70% {
    transform: translate(0, 10%);
  }
  80% {
    transform: translate(-15%, 0);
  }
  90% {
    transform: translate(10%, 5%);
  }
  100% {
    transform: translate(5%, 0);
  }
}
